/* Caret */
.caret {
  background: red;
  display: inline-block;
  width: 7px;
  height: 15px;
  position: relative;
  bottom: 1px;
  vertical-align: middle;
}

.caret.mini {
  width: 6px;
  height: 11px;
}

.caret.blink {
  animation: blink 1s ease infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Prompt */
.triangle {
  color: var(--geist-foreground);
}

.prompt {
  color: var(--accents-5);
}
