.desktopLogo {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.siteSwitcher {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: 768px) {
    margin-left: 12px;
    position: relative;
    left: 0;
    transform: none;
  }
}
