content/openapi/artifacts/*
!content/openapi/artifacts/index.mdx
!content/openapi/index.mdx

# Generated data files
content/examples-data.json
.openapi.json

.source
/public/*.st
/public/*.toml
/public/schema.json
/public/schema.v1.json
/public/schema.v2.json
/public/feed.xml
.vercel

# Sentry Config File
.sentryclirc
.env*.local
