.benchmarkTurbo {
  background: linear-gradient(288.43deg, #ff1e56 28.29%, #9c51a1 78.78%);
  box-shadow: 0px 0px 16px #f02662;
  :global(.light) & {
    background: linear-gradient(
      268.86deg,
      #ff1e56 -5.68%,
      #d67fdc 107.63%,
      #9c51a1 107.64%
    );
    box-shadow: none;
  }
}

.benchmarkActiveTab {
  background: linear-gradient(
    180deg,
    rgba(50, 134, 241, 0.15) 0%,
    rgba(196, 58, 196, 0.15) 100%
  );
}

.benchmarkTurboLabel {
  background: linear-gradient(288.43deg, #ff1e56 28.29%, #9c51a1 78.78%);
  color: transparent;
  background-clip: text;
  :global(.light) & {
    background: linear-gradient(
        268.86deg,
        #ff1e56 -5.68%,
        #d67fdc 107.63%,
        #9c51a1 107.64%
      ),
      linear-gradient(288.43deg, #ff1e56 28.29%, #9c51a1 78.78%);
    color: transparent;
    background-clip: text;
  }
}

.benchmark {
  background: linear-gradient(
      180deg,
      rgba(50, 134, 241, 0.15) 0%,
      rgba(196, 58, 196, 0.15) 100%
    ),
    linear-gradient(
      270deg,
      rgba(255, 30, 86, 0.5) 26.56%,
      rgba(255, 30, 86, 0) 100%
    ),
    rgba(0, 0, 0, 0.6);
  :global(.light) & {
    background: linear-gradient(90deg, #3286f133 0%, #ff1e5633 100%);
  }
}

.graphLabelOverlay {
  /* media query to do this only when screen size > 500px */
  transition: all 0.5s;
  opacity: 0;
  @media (max-width: 640px) {
    opacity: 1;
  }
  background: linear-gradient(
    180deg,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
  :global(.light) & {
    background: linear-gradient(
      180deg,
      transparent 0%,
      white 20%,
      white 80%,
      transparent 100%
    );
  }
}

.buttonGradient {
  background: linear-gradient(
      90deg,
      rgba(200, 221, 255, 0.75) 0%,
      rgba(255, 202, 222, 0.75) 100%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  :global(.light) & {
    background: black;
  }
}

.translatingGlow {
  background: linear-gradient(32deg, #2a8af6 0%, #a853ba 50%, #e92a67 100%);
  background-size: 200% 200%;
  animation: translateGlow 7s linear infinite;
  will-change: filter;
}

@keyframes translateGlow {
  0% {
    background-position: -20% -20%;
  }
  25% {
    background-position: 30% 80%;
  }
  50% {
    background-position: 110% 110%;
  }
  75% {
    background-position: 80% 30%;
  }
  100% {
    background-position: -20% -20%;
  }
}

.benchmarkGraphLine {
  background: linear-gradient(
    180deg,
    transparent 0%,
    #ffffff44 20%,
    #ffffff44 80%,
    transparent 100%
  );
  :global(.light) & {
    background: linear-gradient(
      180deg,
      transparent 0%,
      #00000044 20%,
      #00000044 80%,
      transparent 100%
    );
  }
}

.turbopackHeaderText {
  background: linear-gradient(
      90deg,
      rgba(200, 221, 255, 0.75) 0%,
      rgba(255, 202, 222, 0.75) 100%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);

  :global(.light) & {
    background: linear-gradient(
        90deg,
        rgba(200, 221, 255, 0.1) 0%,
        rgba(255, 202, 222, 0.1) 100%
      ),
      #000000;
    background-clip: text;
  }
  background-clip: text;
}

.heroHeading {
  background: linear-gradient(288.43deg, #ff1e56 28.29%, #9c51a1 78.78%);
  :global(.light) & {
    background: linear-gradient(
      268.86deg,
      #ff1e56 -5.68%,
      #d67fdc 107.63%,
      #9c51a1 107.64%
    );
    background-clip: text;
  }
  background-clip: text;
}

.featureBackgroundGradient {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      180.1deg,
      rgba(0, 150, 255, 0.1) 7.97%,
      rgba(255, 30, 86, 0.1) 93.27%
    ),
    #000000;

  :global(.light) & {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        180.1deg,
        rgba(0, 150, 255, 0.05) 7.97%,
        rgba(255, 30, 86, 0.05) 93.27%
      ),
      #ffffff;
  }
}

.featureSpot {
  position: absolute;
  width: 428px;
  height: 412px;
  left: calc(50% - 428px / 2);
  top: -179px;
  background: linear-gradient(180deg, #4ebfff 0%, #bd69ff 100%);
  will-change: filter;
  opacity: 0.15;
  filter: blur(50px);
  :global(.light) & {
    opacity: 0.05;
  }
}

.textGlow {
  text-shadow: 0 0 75px #f02662e6;
  :global(.light) & {
    text-shadow: none;
  }
}

.letterLine {
  background: linear-gradient(
    90deg,
    transparent 0%,
    #ff1e56 20%,
    #9c51a1 80%,
    transparent 100%
  );
}

.glow {
  mix-blend-mode: normal;
  filter: blur(75px);
  will-change: filter;
}

.glowSmall {
  filter: blur(32px);
}

.glowBlue {
  background: linear-gradient(180deg, #58a5ff 0%, #a67af4 100%);
}

.glowPink {
  background: linear-gradient(180deg, #ff3358 0%, #ff4fd8 100%);
}

.glowConic {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #2a8af6 0deg,
    #a853ba 180deg,
    #e92a67 360deg
  );
}

.hexagonWrapper {
  transition: all 0.5s;
  @media (max-width: 768px) {
    opacity: 0;
  }
}

.hexagonOverlay {
  background: linear-gradient(90deg, transparent 0%, black 100%);
  :global(.light) & {
    background: linear-gradient(90deg, transparent 0%, white 100%);
  }
}

.gradientSectionBorder {
  --gradient-y-offset: -200px;
  --gradient-x-offset: -200px;
  --height: 255px;
  position: relative;
  overflow: hidden;
  will-change: filter;
}

.gradientSectionBorderLeft {
  position: absolute;
  width: 60vw;
  height: var(--height);
  left: var(--gradient-x-offset);
  top: var(--gradient-y-offset);
  background: linear-gradient(180deg, #58a5ff 0%, #a67af4 100%);
  border-radius: 100%;
  mix-blend-mode: normal;
  filter: blur(50px);
}

.gradientSectionBorderRight {
  width: 60vw;
  position: absolute;
  height: var(--height);
  right: var(--gradient-x-offset);
  top: var(--gradient-y-offset);
  background: linear-gradient(180deg, #ff3358 0%, #ff4fd8 100%);
  border-radius: 100%;
  mix-blend-mode: normal;
  filter: blur(50px);
}

.gradientSectionBorderDivider {
  background: linear-gradient(90deg, #288cf9 0%, #e32c6b 100%);
}
