# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

# Listing individual members instead of a team, so PR auto-assignments by round robin
# will actually ping only 2 of these people, instead of two people + the team.


## All Turbo core members
* @jaredpalmer @gsoltis @nathanhammond @tknickman @chris-olszewski @gaspar09 @mehulkar

## same as above, but and add Matt (DevRel)
docs/* @jaredpalmer @gsoltis @nathanhammond @tknickman @chris-olszewski @gaspar09 @mehulkar @mattpocock
