# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

# Default to both teams
* @vercel/turbo-oss @vercel/web-tooling

# Turborepo-specific things

/cli @vercel/turborepo
/benchmark @vercel/turborepo
/buildcontainer @vercel/turborepo
/examples @vercel/turborepo
/packages @vercel/turborepo
/shim @vercel/turborepo
/docs/pages/repo @vercel/turborepo


# Turbopack-specific things

/crates @vercel/web-tooling
/Cargo.lock @vercel/web-tooling
/Cargo.toml @vercel/web-tooling
/rust-toolchain @vercel/web-tooling
.rustfmt.toml @vercel/web-tooling
.taplo.toml @vercel/web-tooling
/docs/pages/pack @vercel/web-tooling
