node_modules/
target/
.next/
build/
dist/

/examples/

packages/eslint-plugin-turbo/__fixtures__
packages/create-turbo/templates
packages/turbo-tracing-next-plugin/test/with-mongodb-mongoose
crates/*/tests/**
crates/next-core/js/src/compiled
