.npmrc
node_modules/

.next
dist/
.output/
*.tsbuildinfo
.eslintcache
.turbo
.vercel
.DS_Store
.env
.env.production
vendor/
data
*.log
todos.md
.store


# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
