node_modules
.next
build
dist
*.tsbuildinfo
*.gitignore
*.svg
*.lock
*.npmignore
*.sql
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.sh
Dockerfile
Dockerfile.*
.env
.env.*
LICENSE
*.log
.DS_Store
.dockerignore
*.patch
*.toml
*.prisma
target
pnpm-lock.yaml
crates/turbopack-ecmascript/tests
crates/turbopack/tests/node-file-trace/integration
crates/turbopack/bench.json
crates/turbopack/tests/snapshot/**/output/
packages/node-module-trace/npm
packages/turbo-tracing-next-plugin/test/with-mongodb-mongoose
docs/public/schema.json
crates/next-core/src/**
crates/next-dev/tests/**
crates/turbopack-dev-server/src/**
crates/turbopack-ecmascript/src/**
