.next/
build/
dist

node_modules/
target/
coverage/
snapshot/
generated/
pnpm-lock.yaml

__generated__/
/benchmark/large-monorepo
/cli/dist-cross*
/docs/public/schema.json
/packages/eslint-plugin-turbo/__tests__/fixtures/
/packages/turbo-codemod/templates/
/docs/components/pages/pack-home/benchmark-data/data.json
/examples/with-svelte


# crates
crates/*/js/src/compiled
crates/next-transform-strip-page-exports/tests
# generators
*.hbs
