.next/
build/
dist/
node_modules/
target/
coverage/
snapshot/
generated/
pnpm-lock.yaml

__generated__/
/docs/public/schema.json
/packages/eslint-plugin-turbo/__tests__/fixtures/
/packages/turbo-codemod/templates/
/docs/components/pages/pack-home/benchmark-data/data.json
/examples/with-svelte


# crates
crates/next-core/js/src/compiled
crates/turbopack-node/js/src/compiled
crates/turbopack/bench.json
crates/turbopack/tests
crates/turbopack-ecmascript/tests/analyzer/graph
crates/turbopack-ecmascript/tests/tree-shaker
crates/next-transform-strip-page-exports/tests
crates/next-transform-dynamic/tests
