[workspace]
resolver = "2"

members = [
  "crates/auto-hash-map",
  "crates/globwatch",
  "crates/pidlock",
  "crates/node-file-trace",
  "crates/swc-ast-explorer",
  "crates/turbo-binding",
  "crates/turbo-malloc",
  "crates/turbo-tasks",
  "crates/turbo-tasks-build",
  "crates/turbo-tasks-bytes",
  "crates/turbo-tasks-env",
  "crates/turbo-tasks-fetch",
  "crates/turbo-tasks-fs",
  "crates/turbo-tasks-hash",
  "crates/turbo-tasks-macros",
  "crates/turbo-tasks-macros-shared",
  "crates/turbo-tasks-memory",
  "crates/turbo-tasks-testing",
  "crates/turbo-updater",
  "crates/turbopack",
  "crates/turbopack-cli",
  "crates/turbopack-cli-utils",
  "crates/turbopack-core",
  "crates/turbopack-create-test-app",
  "crates/turbopack-css",
  "crates/turbopack-dev",
  "crates/turbopack-dev-server",
  "crates/turbopack-ecmascript",
  "crates/turbopack-ecmascript-plugins",
  "crates/turbopack-env",
  "crates/turbopack-image",
  "crates/turbopack-json",
  "crates/turbopack-mdx",
  "crates/turbopack-node",
  "crates/turbopack-static",
  "crates/turbopack-swc-utils",
  "crates/turbopack-test-utils",
  "crates/turbopack-tests",
  "crates/turbopath",
  "crates/glob-match",
  "crates/turborepo",
  "crates/turborepo-api-client",
  "crates/turborepo-ffi",
  "crates/turborepo-lib",
  "crates/turborepo-lockfiles",
  "crates/turborepo-scm",
  "crates/turborepo-vercel-api-mock",
  "xtask",
]

default-members = [
  "crates/auto-hash-map",
  "crates/node-file-trace",
  "crates/swc-ast-explorer",
  "crates/turbo-malloc",
  "crates/turbo-tasks",
  "crates/turbo-tasks-build",
  "crates/turbo-tasks-bytes",
  "crates/turbo-tasks-env",
  "crates/turbo-tasks-fetch",
  "crates/turbo-tasks-fs",
  "crates/turbo-tasks-hash",
  "crates/turbo-tasks-macros",
  "crates/turbo-tasks-macros-shared",
  "crates/turbo-tasks-memory",
  "crates/turbo-tasks-testing",
  "crates/turbopack",
  "crates/turbopack-bench",
  "crates/turbopack-cli-utils",
  "crates/turbopack-core",
  "crates/turbopack-create-test-app",
  "crates/turbopack-css",
  "crates/turbopack-dev",
  "crates/turbopack-dev-server",
  "crates/turbopack-ecmascript",
  "crates/turbopack-env",
  "crates/turbopack-json",
  "crates/turbopack-mdx",
  "crates/turbopack-node",
  "crates/turbopack-static",
  "crates/turbopack-swc-utils",
  "crates/turbopack-test-utils",
  "crates/turbopack-tests",
  "xtask",
]

[profile.dev.package.turbo-tasks-macros]
opt-level = 3

# Set the settings for build scripts and proc-macros.
[profile.dev.build-override]
opt-level = 3

# Declare dependencies used across workspace packages requires single version bump.
# ref: https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#inheriting-a-dependency-from-a-workspace
[workspace.dependencies]
# Keep consistent with preset_env_base through swc_core
browserslist-rs = { version = "0.12.2" }
mdxjs = { version = "0.1.11" }
modularize_imports = { version = "0.27.5" }
styled_components = { version = "0.54.5" }
styled_jsx = { version = "0.31.5" }
swc_core = { version = "0.75.23" }
swc_emotion = { version = "0.30.5" }
swc_relay = { version = "0.2.5" }
testing = { version = "0.33.4" }

auto-hash-map = { path = "crates/auto-hash-map" }
node-file-trace = { path = "crates/node-file-trace", default-features = false }
swc-ast-explorer = { path = "crates/swc-ast-explorer" }
turbo-malloc = { path = "crates/turbo-malloc", default-features = false }
turbo-tasks = { path = "crates/turbo-tasks" }
turbo-tasks-build = { path = "crates/turbo-tasks-build" }
turbo-tasks-bytes = { path = "crates/turbo-tasks-bytes" }
turbo-tasks-env = { path = "crates/turbo-tasks-env" }
turbo-tasks-fetch = { path = "crates/turbo-tasks-fetch", default-features = false }
turbo-tasks-fs = { path = "crates/turbo-tasks-fs" }
turbo-tasks-hash = { path = "crates/turbo-tasks-hash" }
turbo-tasks-macros = { path = "crates/turbo-tasks-macros" }
turbo-tasks-macros-shared = { path = "crates/turbo-tasks-macros-shared" }
turbo-tasks-memory = { path = "crates/turbo-tasks-memory" }
turbo-tasks-testing = { path = "crates/turbo-tasks-testing" }
turbo-updater = { path = "crates/turbo-updater" }
turbopack = { path = "crates/turbopack" }
turbopack-bench = { path = "crates/turbopack-bench" }
turbopack-cli = { path = "crates/turbopack-cli" }
turbopack-cli-utils = { path = "crates/turbopack-cli-utils" }
turbopack-core = { path = "crates/turbopack-core" }
turbopack-create-test-app = { path = "crates/turbopack-create-test-app" }
turbopack-css = { path = "crates/turbopack-css" }
turbopack-dev = { path = "crates/turbopack-dev" }
turbopack-dev-server = { path = "crates/turbopack-dev-server" }
turbopack-ecmascript = { path = "crates/turbopack-ecmascript" }
turbopack-ecmascript-plugins = { path = "crates/turbopack-ecmascript-plugins" }
turbopack-env = { path = "crates/turbopack-env" }
turbopack-image = { path = "crates/turbopack-image" }
turbopack-json = { path = "crates/turbopack-json" }
turbopack-mdx = { path = "crates/turbopack-mdx" }
turbopack-node = { path = "crates/turbopack-node" }
turbopack-static = { path = "crates/turbopack-static" }
turbopack-swc-utils = { path = "crates/turbopack-swc-utils" }
turbopack-test-utils = { path = "crates/turbopack-test-utils" }
turbopack-tests = { path = "crates/turbopack-tests" }
turbopath = { path = "crates/turbopath" }
turborepo = { path = "crates/turborepo" }
turborepo-api-client = { path = "crates/turborepo-api-client" }
turborepo-ffi = { path = "crates/turborepo-ffi" }
turborepo-lib = { path = "crates/turborepo-lib" }
turborepo-lockfiles = { path = "crates/turborepo-lockfiles" }
turborepo-scm = { path = "crates/turborepo-scm" }
vercel-api-mock = { path = "crates/turborepo-vercel-api-mock" }

# Be careful when selecting tls backend, including change default tls backend.
# If you changed, must verify with ALL build targets with next-swc to ensure
# it works. next-swc have various platforms, some doesn't support native (using openssl-sys)
# and some aren't buildable with rustls.
reqwest = { version = "0.11.14", default-features = false }

chromiumoxide = { version = "0.4.0", features = [
  "tokio-runtime",
], default-features = false }
# For matching on errors from chromiumoxide. Keep in
# sync with chromiumoxide's tungstenite requirement.
tungstenite = "0.17.3"

anyhow = "1.0.69"
assert_cmd = "2.0.8"
async-compression = { version = "0.3.13", default-features = false, features = [
  "gzip",
  "tokio",
] }
async-trait = "0.1.64"
atty = "0.2.14"
axum = "0.6.2"
axum-server = "0.4.4"
bytes = "1.1.0"
chrono = "0.4.23"
clap = "4.1.6"
clap_complete = "4.1.2"
concurrent-queue = "2.1.0"
console = "0.15.5"
console-subscriber = "0.1.8"
criterion = "0.4.0"
dashmap = "5.4.0"
dialoguer = "0.10.3"
dunce = "1.0.3"
futures = "0.3.26"
futures-retry = "0.6.0"
httpmock = { version = "0.6.7", default-features = false }
image = { version = "0.24.6", default-features = false }
indexmap = "1.9.2"
indicatif = "0.17.3"
indoc = "2.0.0"
itertools = "0.10.5"
lazy_static = "1.4.0"
log = "0.4.17"
mime = "0.3.16"
nohash-hasher = "0.2.0"
once_cell = "1.17.1"
owo-colors = "3.5.0"
parking_lot = "0.12.1"
pathdiff = "0.2.1"
pin-project-lite = "0.2.9"
port_scanner = "0.1.5"
predicates = "2.1.5"
pretty_assertions = "1.3.0"
proc-macro2 = "1.0.51"
qstring = "0.7.2"
quote = "1.0.23"
rand = "0.8.5"
regex = "1.7.0"
rstest = "0.16.0"
rustc-hash = "1.1.0"
semver = "1.0.16"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.93"
serde_qs = "0.11.0"
serde_with = "2.3.2"
serde_yaml = "0.9.17"
syn = "1.0.107"
tempfile = "3.3.0"
thiserror = "1.0.38"
tiny-gradient = "0.1.0"
tokio = "1.25.0"
tokio-util = { version = "0.7.7", features = ["io"] }
tracing = "0.1.37"
url = "2.2.2"
urlencoding = "2.1.2"
webbrowser = "0.8.7"
