@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  @apply text-sm;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

/*
 * Increase the contrast of this text (used in the left sidebar) in dark mode to be WCAG AA compliant.
 * Nextra does not expose a way of customizing just this color without creating a new theme, so use custom
 * css. Includes the class name in the selector twice to increase specificity without using `!important`.
 */
html[class~="dark"] .dark\:nx-text-neutral-500.dark\:nx-text-neutral-500 {
  color: rgba(150, 150, 150, var(--tw-text-opacity));
}

.turborepoCardBg {
  background: #fff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03),
    0px 2px 4px rgba(0, 0, 0, 0.05), 0px 12px 24px rgba(0, 0, 0, 0.05);
}

.dark .turborepoCardBg {
  /* background: rgba(0, 0, 0, 0.8); */
  background: #000;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.2);
}

.turbopackCardBg {
  background: #fff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03),
    0px 2px 4px rgba(0, 0, 0, 0.05), 0px 12px 24px rgba(0, 0, 0, 0.05);
}

.dark .turbopackCardBg {
  background: rgba(0, 0, 0, 0.8);
  background: #000;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.2);
}

.list,
.list:focus-visible,
.list:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Hide navbar in header nav but not mobile nav */
@media (max-width: 767px) {
  nav #search-container {
    display: none;
  }
}

thead th:empty {
  display: none;
}

.prose > h2 > a > code {
  color: var(--tw-prose-code);
  font-weight: 400;
  font-size: 0.875em;
  padding: 4px;
  border-radius: 5px;
  background: hsl(var(--muted) / 1);
}

.prose :where(table):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  tr {
    td:first-child {
      text-wrap: nowrap;
    }
  }
  text-wrap: initial;
}

/* Inline code snippets. Prevents line-wrapping and inherits font-weight from parent */
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  text-wrap: nowrap;
  font-weight: inherit;
}

/* Make inline code snippet in headers same size as rest of line */
.prose
  :where(h1, h2, h3, h3, h4, h5, h6):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  ) {
  code {
    font-size: inherit;
  }
}
