.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: white;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  /* background: rgba(255, 255, 255, 0.3); */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header div {
  /* margin-right: 16px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header span:first-child {
  color: white;
  margin-right: 1em;
}
