.kbd {
  color: var(--ds-gray-1000);
  background: var(--ds-background-100);
  box-shadow: 0 0 0 1px var(--ds-gray-alpha-400);
  display: inline-block;
  text-align: center;
  min-width: var(--geist-gap);
  font-size: 0.875rem;
  line-height: 1.7em;
  padding: 0 6px;
  border-radius: 4px;
  font-family: var(--font-sans);
  margin-left: 4px;
  min-height: 24px;

  span {
    font-size: 0.875rem;
  }
}

.kbd.small {
  font-family: var(--font-sans);
  font-size: 0.75rem;
  padding: 0;
  height: 20px;
  padding: 0 4px;
  min-width: 20px;
  min-height: 20px;

  span {
    font-size: 0.75rem;
    line-height: 1.7em;
  }
}

.kbd + :global(kbd) {
  margin-left: 4px;
}

.kbd span + span {
  margin-left: 4px;
}

.kbd.small span + span {
  margin-left: 2px;
}
