# Nextest configuration for Turborepo
# See https://nexte.st/book/configuration.html

[test-groups]
# turborepo-process tests should run serially to avoid resource contention
# and timing issues, especially on macOS where PTY devices are limited
turborepo-process-serial = { max-threads = 1 }

[[profile.default.overrides]]
# Run all tests in the turborepo-process crate serially
filter = 'package(turborepo-process)'
test-group = 'turborepo-process-serial'
