code {
  @apply text-sm;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

@font-face {
  font-family: Breit;
  font-weight: 700;
  font-display: auto;
  src: url(./public/fonts/TestSohneBreit-Fett.woff2) format("woff2");
}

@font-face {
  font-family: Breit;
  font-weight: 600;
  font-display: auto;
  src: url(./public/fonts/TestSohneBreit-Kraftig.woff2) format("woff2");
}
