code {
  @apply text-sm;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

@font-face {
  font-family: Breit;
  font-weight: 700;
  font-display: auto;
  src: url(./public/fonts/TestSohneBreit-Fett.woff2) format("woff2");
}

@font-face {
  font-family: Breit;
  font-weight: 600;
  font-display: auto;
  src: url(./public/fonts/TestSohneBreit-Kraftig.woff2) format("woff2");
}

.turborepoCardBg {
  background: #fff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03),
    0px 2px 4px rgba(0, 0, 0, 0.05), 0px 12px 24px rgba(0, 0, 0, 0.05);
}

.dark .turborepoCardBg {
  /* background: rgba(0, 0, 0, 0.8); */
  background: #000;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.2);
}

.turbopackCardBg {
  background: #fff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03),
    0px 2px 4px rgba(0, 0, 0, 0.05), 0px 12px 24px rgba(0, 0, 0, 0.05);
}

.dark .turbopackCardBg {
  background: rgba(0, 0, 0, 0.8);
  background: #000;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.2);
}
