name: Examples tests - basic
on:
  push:
    branches: [main]
  pull_request:
    paths:
      - examples/basic/**
      - turborepo-tests/example-basic-*/**
      - turborepo-tests/helpers/**

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  basic-example:
    name: basic
    timeout-minutes: 40
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: "Run `basic` example tests"
        uses: ./.github/actions/examples-tests
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          turbo-token: "${{ secrets.TURBO_TOKEN }}"
          turbo-team: "${{ vars.TURBO_TEAM }}"
          test-filter: "@turborepo-examples-tests/kitchen-sink-*"
