name: Example tests - non-monorepo
on:
  push:
    branches: [main]
  pull_request:
    paths:
      - examples/non-monorepo/**
      - turborepo-tests/example-non-monorepo-*/**
      - turborepo-tests/helpers/**

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  non-monorepo-example:
    name: non-monorepo
    timeout-minutes: 40
    runs-on: ubuntu-latest
    steps:
      - name: "Run `non-monorepo` example tests"
        uses: ./.github/actions/examples-tests
        with:
          node-version: "22"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          turbo-token: "${{ secrets.TURBO_TOKEN }}"
          turbo-team: "${{ vars.TURBO_TEAM }}"
          test-filter: "@turborepo-examples-tests/non-monorepo-*"
