name: Release

env:
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

on:
  workflow_dispatch:
    inputs:
      increment:
        description: 'SemVer Increment'
        required: true
        default: 'prerelease'
        type: choice
        options:
        - prerelease
        - prepatch
        - preminor
        - premajor
        - patch
        - minor
        - major
      identifier:
        description: 'npm Tag'
        required: true
        default: 'canary'
        type: choice
        options:
        - canary
        - latest
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
          token: ${{ secrets.TURBOBOT }}

      - uses: ./.github/actions/setup-deps
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          setup-node: false # TODO: does this need to be customized? (corepack step is omitted here)

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: latest

          # Optional: working directory, useful for monorepos
          working-directory: cli

          # `golangci-lint-action` does not have an "install only" option.
          # We ignore the output of this run, instead using it just to install the binary.
          args: --issues-exit-code=0

      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7.2.1

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org'
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --filter=turbo-monorepo

      - name: Configure git
        run: |
          git config --global user.name 'Turbobot'
          git config --global user.email 'turbobot@vercel.com'

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          distribution: goreleaser-pro
          version: latest
          install-only: true
        env:
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}

      - name: Version
        run: |
          ./scripts/version.js ${{ inputs.increment }} ${{ inputs.identifier }}
          cat version.txt

      - name: Release
        run: cd cli && make publish
        env:
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
