name: Test
on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

permissions:
  actions: write
  contents: read
  pull-requests: read

jobs:
  # build_turborepo:
  #   name: Build Turborepo
  #   runs-on: ${{ matrix.os.runner }}
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       os:
  #         - name: ubuntu
  #           runner: ubuntu-latest
  #         - name: macos
  #           runner: macos-latest
  #         - name: windows
  #           runner: windows-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v3
  #       with:
  #         fetch-depth: 0

  #     - name: Run sccache-cache
  #       uses: mozilla-actions/sccache-action@v0.0.3

  #     - uses: ./.github/actions/setup-turborepo-environment
  #       with:
  #         windows: ${{ matrix.os.name == 'windows' }}
  #         github-token: "${{ secrets.GITHUB_TOKEN }}"

  #     - run: turbo run build --filter=cli --color --env-mode=strict --token=${{ secrets.TURBO_TOKEN }} --team=${{ vars.TURBO_TEAM }}
  #       env:
  #         SCCACHE_BUCKET: turborepo-sccache
  #         SCCACHE_REGION: us-east-2
  #         # Only use sccache if we're in the Vercel repo.
  #         RUSTC_WRAPPER: ${{ !github.event.pull_request.head.repo.fork && 'sccache' || '' }}
  #         CARGO_INCREMENTAL: 0
  #         AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #         AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  #     - name: Run sccache stat for check
  #       shell: bash
  #       run: ${SCCACHE_PATH} --show-stats
  #       if: ${{ !github.event.pull_request.head.repo.fork }}

  turborepo_integration:
    name: Turborepo Integration Tests
    runs-on: ${{ matrix.os.runner }}
    strategy:
      fail-fast: false
      matrix:
        os:
          # - name: ubuntu
          #   runner: ubuntu-latest
          # - name: macos
          #   runner: macos-latest
          - name: windows
            runner: windows-latest
    steps:
      # On Windows, set autocrlf to input so that when the repo is cloned down
      # the fixtures retain their line endings and don't get updated to CRLF.
      # We want this because this repo also contains the fixtures for our test cases
      # and these fixtures have files that need stable file hashes. If we let git update
      # the line endings on checkout, the file hashes will change.
      # https://www.git-scm.com/book/en/v2/Customizing-Git-Git-Configuration#_core_autocrlf
      - name: set crlf
        if: matrix.os.name == 'windows'
        shell: bash
        run: git config --global core.autocrlf input

      - uses: actions/checkout@v3

      - uses: ./.github/actions/setup-turborepo-environment
        with:
          windows: ${{ matrix.os.name == 'windows' }}
          github-token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Cache Prysk
        id: cache-prysk
        uses: actions/cache@v3
        with:
          path: cli/.cram_env
          key: prysk-venv-${{ matrix.os.name }}

      - name: Integration Tests
        shell: bash
        run: turbo run test --filter=turborepo-tests-integration --color --env-mode=strict --token=${{ secrets.TURBO_TOKEN }} --team=${{ vars.TURBO_TEAM }}

      - name: Integration Tests2
        shell: bash
        run: cd turborepo-tests/integration && pnpm run test2 -F=turborepo-tests-integration
