name: Update examples to latest

on:
  workflow_dispatch:

jobs:
  update-examples-pr:
    name: "Update examples PR"
    runs-on: ubuntu-latest
    steps:
      - name: Run upgrade script
        run: bash ../../scripts/update-examples-dep.sh
      - name: Create pull request
        uses: thomaseizinger/create-pull-request@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          head: ${{ needs.stage.outputs.stage-branch }}
          base: main
          title: "release(turborepo): update examples to latest(${{ steps.getVersion.outputs.version }})"
