!node_modules/

# Ignore turbo.exe in all the fixtures, (don't include them in source control)
# These get added dynamically during a test run, and we don't actually want them in these locations
node_modules/**/**/turbo.exe

!.env
